.main_index {
    margin: 0 auto;
    width: 95%;
    height: 90vh;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid rgb(255, 251, 0); */
    margin-top: 4em;



}

.main_index p {
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: 30px;

}

.ja_sam {
    font-family: 'Roboto', sans-serif;
    color: rgb(215, 215, 215);
    font-size: 2.0em;
    font-weight: 100;
    margin-bottom: 10px;
}

.strela {
    position: absolute;
    right: 45%;
    top: 85%;

}

.main_index h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 4em;
    line-height: 1.1em;

}

.main_index .gumb_na_kontakt {
    border: 1px solid rgb(130, 130, 130);

    color: #fff;
    font-size: 1.25em;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 16px 38px;
    transition: 0.4s ease-in;
}

.main_index .gumb_na_kontakt:hover {
    color: black;
    background-color: rgb(255, 255, 255);
}



.main_index .main-ljevo {
    max-width: 450px;
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    margin-right: 1px;
    /* border: 1px solid red; */
    height: 70%;

}

.main_index .main-desno {
    width: 30%;
    height: 85%;
    background-image: url(../images/ja/juraj_tezak.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: right;
    margin-left: 1px;
    /* border: 1px solid red; */

}

.sekcija_usluge {
    max-width: 100%;
    padding: 40px 50px;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2em;
    align-items: center;
    /* border: 2px solid red; */

}

.sekcija_usluge .usluge_lijevo {
    text-align: justify;
    max-width: 400px;
    max-height: 600px;
    background-color: rgb(3, 152, 63);
    border-radius: 20px;
    padding: 20px 30px;
    margin-right: 40px;

}

.sekcija_usluge .usluge_desno {
    text-align: justify;
    max-width: 400px;
    max-height: 600px;
    background-color: rgb(170, 4, 211);
    border-radius: 20px;
    padding: 20px 30px;
    margin-right: 40px;
}

.sekcija_usluge .usluge_lijevo h3 {
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 3.0em;
    font-weight: 600;
    margin-bottom: 15px;
    text-align: left;

}

.sekcija_usluge .usluge_desno h3 {
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 3.0em;
    font-weight: 600;
    margin-bottom: 15px;
    text-align: left;


}

.sekcija_usluge .usluge_desno p {
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.4em;
    margin-top: 15px;
    line-height: 1.5em;

}

.sekcija_usluge .usluge_lijevo p {
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.4em;
    margin-top: 15px;
    line-height: 1.5em;
}

.sekcija_usluge .usluge_sredina p {
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.4em;
    margin-top: 15px;
    line-height: 1.5em;

}

.sekcija_usluge .usluge_sredina h3 {
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 3.0em;
    font-weight: 600;
    margin-bottom: 15px;
    text-align: left;
}

.sekcija_usluge .usluge_sredina {
    text-align: justify;
    max-width: 400px;
    max-height: 600px;
    background-color: rgb(249, 66, 5);
    border-radius: 20px;
    padding: 20px 30px;
    margin-right: 40px;
}

#saznajte {
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-weight: bold;
}