.main_index {
    margin: 0 auto;
    width: 95%;
    height: 92vh;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    margin-top: 4em;


}

.main_index p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
    margin-bottom: 35px;

}

.ja_sam {
    color: rgb(72, 148, 255);
    font-size: 2.0em;
    margin-bottom: 15px;
}

.strela {
    position: absolute;
    right: 45%;
    top: 85%;

}

.main_index h1 {
    font-size: 4em;
    line-height: 1.2em;
}

.main_index .gumb_na_kontakt {
    background-color: rgb(14, 101, 223);
    color: #fff;
    font-size: 1.25em;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 8px;
    padding: 10px 30px;
}

.main_index .gumb_na_kontakt:hover {

    background-color: rgb(7, 68, 155);
}

.main_index .ja_slika {
    max-width: 70%;
}

.main_index .main-ljevo {
    height: auto;
    margin-right: 40px;
    /*border: 1px solid red;*/

}

.main_index .main-desno {
    display: flex;
    align-items: center;
    margin-left: 40px;
    max-height: 600px;
    /* border: 1px solid red;*/

}

.sekcija_usluge {
    max-width: 90%;
    padding: 40px 100px;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2em;
    align-items: center;
    /* border: 2px solid red; */

}

.sekcija_usluge .usluge_lijevo {
    text-align: justify;
    max-width: 400px;
    max-height: 600px;
    background-color: rgb(3, 152, 63);
    border-radius: 20px;
    padding: 20px 30px;
    margin-right: 40px;

}

.sekcija_usluge .usluge_desno {
    text-align: justify;
    max-width: 400px;
    max-height: 600px;
    background-color: rgb(170, 4, 211);
    border-radius: 20px;
    padding: 20px 30px;
    margin-right: 40px;
}

.sekcija_usluge .usluge_lijevo h3 {
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 3.0em;
    font-weight: 600;
    margin-bottom: 15px;
    text-align: left;

}

.sekcija_usluge .usluge_desno h3 {
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 3.0em;
    font-weight: 600;
    margin-bottom: 15px;
    text-align: left;


}

.sekcija_usluge .usluge_desno p {
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.4em;
    margin-top: 15px;
    line-height: 1.5em;

}

.sekcija_usluge .usluge_lijevo p {
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.4em;
    margin-top: 15px;
    line-height: 1.5em;
}

.sekcija_usluge .usluge_sredina p {
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.4em;
    margin-top: 15px;
    line-height: 1.5em;

}

.sekcija_usluge .usluge_sredina h3 {
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 3.0em;
    font-weight: 600;
    margin-bottom: 15px;
    text-align: left;
}

.sekcija_usluge .usluge_sredina {
    text-align: justify;
    max-width: 400px;
    max-height: 600px;
    background-color: rgb(249, 66, 5);
    border-radius: 20px;
    padding: 20px 30px;
    margin-right: 40px;
}

#saznajte {
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-weight: bold;
}