.kontakt_main {
    margin: 0 auto;
    width: 30%;
    height: 50vh;
    margin-top: 60px;
    margin-bottom: 10px;
}

input {
    padding: 8px;
}


.kontaktforma_section {
    margin: auto;
    width: 60%;
    color: #fff;
    text-align: center;

}

.kontaktforma_section h1 {
    font-size: 35px;
    margin-bottom: 20px;

}

.kontaktforma_section p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    font-style: italic;
    margin-top: 20px;
    line-height: 30px;
}



.box_za_formu {
    width: 440px;
    height: 45vh;
    margin: 0 auto;
    background-color: #eee;
    border-radius: 8px;
    padding: 30px 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.kontakt_forma {
    color: #504e4e;

}

.forma_gumbi_s {
    cursor: pointer;
    background-color: rgb(0, 106, 255);
    font-size: 18px;
    border: none;
    padding: 8px 20px;
    margin-top: 15px;
    color: #fff;

}