* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    /* background-image: linear-gradient(to bottom, rgba(1, 17, 26, 0.215), rgba(11, 12, 11, 0.153)), url(../images/1-bgtex.jpg); */
    background-color: black;
    background-size: cover;
    z-index: -100;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;

}

.navigacija {
    width: 100%;
    height: 60px;
    background-color: rgb(0, 0, 0);
    border-bottom: 1px solid #575757;
    position: relative;
}

ul {
    margin-right: 55px;
    text-align: center;


}

ul li {
    display: inline-block;
    list-style: none;
    padding: 25px 20px;


}

ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.0em;
    font-weight: 500;

    transition: 0.3s;



}

ul li a:hover {
    color: rgb(79, 152, 255);



}

.call {
    position: absolute;
    top: 25px;
    right: 45px;
    color: #fff;
}

.call a {
    text-decoration: none;
    color: #fff;
}

.call a:hover {
    text-decoration: none;
    color: #e9cf05;
}

.logo {
    position: fixed;
    top: 0;
    margin-left: 45px;
    font-size: 1.8em;
    font-weight: bold;
    color: #fff;
    float: left;
    padding-top: 15px;
    z-index: 100;
}


.logospan {
    color: #7f7f7f;
    z-index: 100;
}

.logo a {
    text-decoration: none;
    color: #fff;
}

.main-ljevo {
    color: #fff;
}

.main-desno {
    color: #fff;
}